.buffer {
  width: 50%;
  height: 90%;
  margin: 10px;
  padding: 5%;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
}

.buffer:focus {
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
}

.todo {
  width: 20px;
  height: 10px;
  border-radius: 2px;
  background-color: #ddd;
  border: 1px solid #aaa;
  margin: 0 5px;
}

.layout-container {
  position: relative;
}

.todo-menu {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  border: 1px solid #aaa;
  background-color: #f0f0f0;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
}
